In [6]:
import pandas as pd

In [7]:
file_path_user = '/opt/ml/server/winery/server/data/train_data.user' 
file_path_inter = '/opt/ml/server/winery/server/data/train_data.inter' 
 # 읽어올 파일의 경로를 지정해주세요.

In [8]:
train_data_user = pd.read_csv(file_path_user, sep='\t')
train_data_inter = pd.read_csv(file_path_inter, sep='\t')

In [ ]:

# 파일 열기
with open(file_path_user, 'r', encoding='utf-8') as file:
    for line in file:
        line = line.strip()  # 줄바꿈 문자(\n) 제거
        values = line.split('\t')  # 탭(Tab)으로 구분된 데이터를 리스트로 변환
        train_data_user.append(values)  # 리스트에 데이터 추가

# 읽어온 데이터 확인
print("user")
for row in train_data_user[:5]:
    print(row)

In [12]:
train_data_user.columns

Index(['user_id:token', 'count:float', 'mean:float'], dtype='object')

In [16]:
train_data_user.isna().sum()

user_id:token    0
count:float      0
mean:float       0
dtype: int64

In [10]:
train_data_inter

         user_id:token  user_rating:float      timestamp:float  item_id:token
0                    0                4.1  2022-07-25 00:00:00          65527
1                    1                4.4  2022-07-24 00:00:00          65527
2                    2                4.4  2022-09-23 00:00:00          65527
3                    3                4.0  2022-05-16 00:00:00          65527
4                    4                4.3  2022-07-23 00:00:00          65527
...                ...                ...                  ...            ...
5823357          77496                3.0  2021-09-18 00:00:00           4380
5823358         154872                4.5  2021-01-01 00:00:00           4380
5823359         213794                4.0  2020-12-18 00:00:00           4380
5823360         135376                4.0  2019-10-26 00:00:00           4380
5823361         292918                3.5  2022-01-25 00:00:00           4380

[5823362 rows x 4 columns]

In [25]:
import tqdm
def get_item_data(data_num):
    file_path_user = '/opt/ml/server/winery/server/data/train_data.user'
    train_data_user = pd.read_csv(file_path_user, sep='\t')
    
    df = train_data_user[:data_num]


    # id,email,password,wine_list,mbti_result
    wine_column = ['user_id:token', 'count:float']
    # EX
    rename_rule = {
        'user_id:token' : 'user_id',
        'count:float': 'password',
    }

    df = df[wine_column]
    df = df.rename(columns=rename_rule)
    df['email'] = df['password'].copy
    df['wine_list'] = None
    df['mbti_list'] = None
    for idx in df.index:
    
        df['email'][idx] = f"user{idx}@example.com"
        


    return df

In [26]:
df = get_item_data(10)
df

/tmp/ipykernel_109288/2019362613.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['email'][idx] = f"user{idx}@example.com"
/tmp/ipykernel_109288/2019362613.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['email'][idx] = f"user{idx}@example.com"
/tmp/ipykernel_109288/2019362613.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['email'][idx] = f"user{idx}@example.com"
/tmp/ipykernel_109288/2019362613.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['email'][idx] = f"user{idx}@example.com"
/tmp/ipykernel_109288/2019362613.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['email'][idx] = f"user{idx}@example.com"
/tmp/ipykernel_109288/2019362613.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['email'][idx] = f"user{idx}@example.com"
/tmp/ipykernel_109288/2019362613.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['email'][idx] = f"user{idx}@example.com"
/tmp/ipykernel_109288/2019362613.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['email'][idx] = f"user{idx}@example.com"
/tmp/ipykernel_109288/2019362613.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['email'][idx] = f"user{idx}@example.com"
/tmp/ipykernel_109288/2019362613.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['email'][idx] = f"user{idx}@example.com"

   user_id  password              email wine_list mbti_list
0        0        46  user0@example.com      None      None
1        1       105  user1@example.com      None      None
2        2       138  user2@example.com      None      None
3        3       942  user3@example.com      None      None
4        4       196  user4@example.com      None      None
5        5        61  user5@example.com      None      None
6        6        34  user6@example.com      None      None
7        7        63  user7@example.com      None      None
8        8        16  user8@example.com      None      None
9        9         2  user9@example.com      None      None